@model BaronCoffee.Models.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<style>
    h2 {
        margin-top: 20px;
        font-style: italic;
        color: #333;
        text-align: center;
    }

    h3 {
        color: red;
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
    }
</style>
<h2>XÓA DANH MỤC</h2>

<h3>Bạn có chắc chắn muốn xóa mục này</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
          
            Tên danh mục
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=" Xóa " class="btn btn-dark" /> |
            @Html.ActionLink("QUAY LẠI DANH MỤC", "Index", new { id = Model.CategoryID }, new { @class = "btn btn-success btn-sm" })
        </div>
    }
</div>
