@model BaronCoffee.Models.Product
@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<style>
     h2 {
        margin-top: 20px;
        font-style: italic;
        color: #333;
        text-align: center;
    }

    .alert-danger {
        color: red;
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
    }
</style>
<h2>XÓA SẢN PHẨM</h2>
<h4 class="alert-danger">Bạn có chắc chắn muốn xóa sản phẩm này ?</h4>
@Html.Partial("PVProductInfo", Model)
<div style="padding:10px">
    @*@Html.ActionLink("Xóa", "Delete", new { id = Model.ProductID }, new { @class = "btn btn-primary btn-sm" })
        @Html.ActionLink("QUAY LẠI DANH MỤC", "Index", new { id = Model.CategoryID }, new { @class = "btn btn-success btn-sm" })*@
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-dark" /> |
            @Html.ActionLink("QUAY LẠI DANH MỤC", "Index", new { id = Model.CategoryID }, new { @class = "btn btn-success btn-sm" })
        </div>
    }
</div>