@model BaronCoffee.Models.Product
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h2>CHI TIẾT SẢN PHẨM</h2>
@Html.Partial("PVProductInfo", Model)
<div style="padding:10px">
    @Html.ActionLink("Sửa", "Edit", new { id = Model.ProductID }, new { @class = "btn btn-success btn-sm" }) |
    @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-primary btn-sm" })
</div>