
@{
    ViewBag.Title = "ConfirmOrder";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Đặt hàng thành công!</h2>
<p>Cảm ơn bạn đã mua sắm tại cửa hàng của chúng tôi. Đơn hàng của bạn đã được xác nhận.</p>
<p>Chúng tôi sẽ xử lý đơn hàng và giao hàng đến bạn trong thời gian sớm nhất.</p>
