
@{
    ViewBag.Title = "ConfirmOrder";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Đặt hàng thành công!</h2>
<p>Cảm ơn bạn đã mua sắm tại cửa hàng của chúng tôi. Đơn hàng của bạn đã được xác nhận.</p>
<p>Chúng tôi sẽ xử lý đơn hàng và giao hàng đến bạn trong thời gian sớm nhất.</p>
<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Quay về Trang Chủ</a>
<a href="@Url.Action("OrderHistory", "ShoppingCart")" class="btn btn-secondary">Xem Lịch Sử Giao Dịch</a>